[Unit]
Description=Cosmos-SDK-Monitoring
Documentation=https://github.com/chainlayer/cosmos-sdk-monitor
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /root/cosmos-sdk-monitor/index.js
Restart=always
RestartSec=3

[Install]
WantedBy=iris.service gaiad.service terrad.service kvd.service xrnd.service
